@font-face {
  font-family: 'Panton-Regular';
  src: url('../fonts/Panton-Regular.woff2') format('woff2'),
       url('../fonts/Panton-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

html {
    /*background-color: #212121;*/
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Panton-Regular', 'Open Sans', sans-serif;
    color: #272727;
    background-color: #fff;
}

.sticky-header {
    width: 100%;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: all 750ms ease-in-out;
}
    .sticky-hide {
        margin-top: -500px;
    }
    .sticky-show {
        margin-top: 0px;
    }

.sticky-container {
    max-width: 980px;
    padding: 0 40px;
    margin: auto;
}

.sticky-container:after {
    content: "";
    display: table;
    clear: both;
}

.sticky-logo img {
    height: 23px;
    padding: 25px 0;
    display: inline-block;
    float: left;
}

.sticky-contact-btn {
    text-decoration: none;
    float: right;
    margin-top: 16px;
}

.sticky-contact-btn p {
    font-family: 'Panton-Regular', 'Open Sans', serif;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid rgba(0, 174, 129, 0.8);
    padding: 10px 20px;
    color: rgba(242, 242, 242, 0.8);
    margin: 0;
}

.sticky-contact-btn p:hover {
    border-color: rgba(0, 174, 129, 1);
    color: rgba(242, 242, 242, 0.9)
}

header {
    width: 100%;
    padding: 0 0;
    border-top: 3px solid #212121;
}

h1 {
    font-family: 'Panton-Regular', 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #212121;
    font-size: 16px;
}

h2 {
    text-align: center;
    color: #272727;
    font-weight: normal;
}

p {
    text-align: center;
    color: #EAEAEA;
}

.wrapper {
    /*max-width: 980px;*/
    padding: 20px 20px;
    margin: 0 auto;
}

footer {
    font-family: 'Panton-Regular', 'Open Sans', serif;
    /*max-width: 980px;*/
    margin: 40px auto 0 auto;
    padding: 0 40px 40px 40px;
}

footer img {
    width: 30px;
    display: block;
    float: left;
    padding-top: 15px;
}

footer .row {
    margin-right: 0;
}

footer p {
    text-align: right;
    font-size: 16px;
    color: rgba(33,33,33,0.4);
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 15px;
}
    .links {
        text-align: left;
        list-style: none;
        padding: 0;
    }

    .links li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0 19px 0 20px;
        border-left: 1px solid #212121;
    }

    .links li:first-child {
        border-left: 0;
        padding-left: 0;
    }

    .links a {
        text-decoration: none;
        color: rgba(33,33,33,0.6);
    }

    .links a:hover {
        text-decoration: none;
        color: rgba(33,33,33,1);
    }

.contact-btn {
    margin-top: 80px;
    height: auto;
    text-decoration: none;
}

.contact-btn p {
    font-family: 'Panton-Regular', 'Open Sans', serif;
    display: block;
    text-transform: uppercase;
    border: 2px solid rgba(0, 174, 129, 0.6);
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

.contact-btn p:hover {
    border-color: rgba(0, 174, 129, 1);
    color: rgba(0, 0, 0, 0.7)
}

.social-link {
    color: black;
}

.social-link:hover {
    color: rgba(0, 174, 129, 1);
}

.fa {
    display: inline-block;
    margin-right: 0;
    padding: 0 15px;
}

.about a {
    color: black;
    display: inline-block;
}

.about a:hover {
    color: rgba(0, 174, 129, 1);
}

.icons {
    text-decoration: none;
}

.about {
    background-color: #f9f9f9;
    margin-top: 100px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

}

hr {
    width: 30px;
    color: #212121;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 30px;
}
    .divider {
        margin-top: 80px;
        margin-bottom: 30px;
    }

.about p {
    color: #212121;
    font-size: 12px;
    margin-bottom: 40px;
}

.project-desc {
    color: #212121;
    font-size: 12px;
    margin: auto;
    margin-bottom: 40px;
    max-width: 500px;
}

/* Logo Image
----------------------------*/
.logo-container {
    position: relative;
    max-width: 980px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    z-index: 2;
}

.logo-link {
    display: inline-block;
}

.logo-img {
    height: 35px;
    display: block;
}

/**
 * Media images
 */
.media {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    display: block;
    margin-bottom: 20px;
}
    .media-img {
        max-width: 100%;
    }
    .media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        text-align: center;
        color: #fff;
        background: #f2f2f2;
        opacity: 0;
        -webkit-transition: opacity .2s ease-in-out;
           -moz-transition: opacity .2s ease-in-out;
                transition: opacity .2s ease-in-out;
    }
    .media-about {
        color: #f2f2f2;
        background: #212121;
        opacity: 0;
        -webkit-transition: opacity .2s ease-in-out;
           -moz-transition: opacity .2s ease-in-out;
                transition: opacity .2s ease-in-out;
    }
    .media-overlay:hover {
        opacity: 1;
    }
    .media-overlay-content {
        position: relative;
        top: 47%;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .media-overlay-content p {
        color: #212121;
        font-family: 'Panton-Regular','Open Sans', sans-serif;
        font-size: 18px;
    }
    .media-content-about p {
        color: #f2f2f2;
    }

.project-img {
    margin-bottom: 20px;
}

@media only screen and (max-width : 767px) {
    .sticky-header {
        display: none;
        visibility: hidden;
    }

    footer p, .links {
        text-align: center;
        font-size: 10px;
    }

    .links {
        font-size: 14px;
    }
}
