@font-face {
  font-family: 'Panton-Regular';
  src: url('Panton-Regular.eot');
  src: url('Panton-Regular.woff2') format('woff2'),
       url('Panton-Regular.woff') format('woff'),
       url('Panton-Regular.ttf') format('truetype'),
       url('Panton-Regular.svg#Panton-Regular') format('svg'),
       url('Panton-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html {
    background-color: #212121;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    background-color: #fff;
}

header {
    width: 100%;
    padding: 0 0;
    border-top: 4px solid #212121;
}

h1 {
    font-family: 'Panton';
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #212121;
    font-size: 16px;
}

h2 {
    text-align: center;
    color: #272727;
    font-weight: normal;
}

p {
    text-align: center;
    color: #EAEAEA;
}

.wrapper {
    max-width: 980px;
    padding: 0 40px;
    margin: 80px auto 0 auto;
}

footer {
    background-color: #212121;
    padding: 30px 0;
}

footer img {
    width: 30px;
    display: block;
    margin: auto;
    padding-top: 15px;
}

footer .row {
    margin-right: 0;
}

footer p {
    text-align: center;
    font-size: 10px;
    color: #000;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.social-link {
    color: black;
}

.social-link:hover {
    color: rgba(255, 81, 72, 0.9);
}

.fa {
    display: inline-block;
    margin-right: 0;
    padding: 0 15px;
}

.about a {
    color: black;
    display: inline-block;
}

.about a:hover {
    color: rgba(255, 81, 72, 0.9);
}

.icons {
    text-decoration: none;
}

.about {
    background-color: #f9f9f9;
    margin-top: 100px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

}

hr {
    width: 30px;
    color: #212121;
    border: none;
    border-bottom: 2px solid;
    margin-bottom: 30px;
}

.about p {
    color: #212121;
    font-size: 12px;
    margin-bottom: 40px;
}

.project-desc {
    color: #212121;
    font-size: 12px;
    margin: auto;
    margin-bottom: 40px;
    max-width: 500px;
}

/* Logo Image
----------------------------*/
.logo-container {
    position: relative;
    margin-top: 40px;
    text-align: center;
    z-index: 2;
}

.logo-link {
    display: inline-block;
}

.logo-img {
    height: 40px;
    display: block;
}

/**
 * Media images
 */
.media {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    display: block;
    margin-bottom: 20px;
}
    .media-img {
        max-width: 100%;
    }
    .media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        -webkit-transition: opacity .15s ease-in-out;
           -moz-transition: opacity .15s ease-in-out;
                transition: opacity .15s ease-in-out;
    }
    .media-overlay:hover {
        opacity: 1;
    }
    .media-overlay-content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .media-overlay-content p {
        padding-bottom: 12px;
        font-family: 'Panton';
    }

.project-img {
    margin-bottom: 20px;
}


@media screen and (max-width: 430px) {
    .name {
        display: none;
    }

    .fa {
      font-size: 40px;
    }
}
