/*@font-face {
  font-family: 'FF-Din';
  src: url('../fonts/ff_din_regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FF-Din';
  src: url('../fonts/ff_din_light.woff') format('woff');

  font-weight: lighter;
  font-style: normal;
}*/

html {
    background-color: #212121;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Neuton', serif;
    /*font-family: 'FF-Din', serif;*/
    -webkit-font-smoothing: antialiased;
    color: #272727;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #aaa;
}
a:hover {
    text-decoration: none;
    color: #212121;
}


.logoinspo-link {
    padding-bottom: 2px;
    border-bottom: 1px solid;
    color: #212121;
}
.logoinspo-link:hover {
    color: #00a69c;
}


.wrapper {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.main-content-wrapper {
    max-width: 980px;
    margin: auto;
}


header {
    width: 100%;
    border-top: 3px solid #212121;
    z-index: 100;
    background-color: #fff;
    /*position: fixed;*/
    padding: 40px 0;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}

.start-project {
    display: block;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 40px;
    /*text-transform: uppercase;*/
    border-bottom: 1px solid #aaa;
}

.logo-link {
    display: inline-block;
}

.logo-img {
    height: 40px;
    display: block;
    opacity: 1;
}

.logo-img:hover {
    opacity: .8;
}


h1 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    color: #212121;
    /*letter-spacing: -1px;*/
    line-height: 48px;
    width: 80%;
    margin: 150px auto 0 auto;
    display: block;
    transform: translateY(0px);
}
    hr {
        color: #212121;
        border: none;
        width: 30px;
        border-bottom: 2px solid;
        margin-bottom: 30px;
    }
        .parallax {
            margin-bottom: 150px;
        }

    h1 a {
        padding-bottom: 2px;
        border-bottom: 1px solid;
        color: #212121;
    }
    .better-link:hover {
        color: #E2007C;
    }

p {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    color: #212121;
    display: block;
    margin: 100px auto 120px auto;
    max-width: 80%;
}
    p.first {
        padding-top: 173px;
        margin-top: 0;
    }

h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #212121;
    letter-spacing: -1px;
    width: 80%;
    margin: 150px auto 0 auto;
    display: block;
}
    hr.line-no-pad {
        color: #212121;
        border: none;
        width: 30px;
        border-bottom: 2px solid;
        margin-bottom: 40px;
    }

h4 {
    color: #aaa;
    font-size: 20px;
    margin: 0 0 80px 0;
    display: block;
    /*border-top: 1px solid #aaa;*/
    font-weight: normal;
}
    h4 a {
        padding-bottom: 2px;
        border-bottom: 1px solid;
    }

footer {
    max-width: 1200px;
    margin: auto;
    padding: 40px 40px 20px 40px;
}

.copyright {
    text-align: right;
    font-size: 22px;
    color: rgba(33,33,33,0.4);
    margin-bottom: 0;
    margin-top: 0;
    line-height: 72px;
    display: inline-block;
    float: right;
}
    .links {
        font-size: 22px;
        text-align: left;
        list-style: none;
        padding: 0;
        display: inline-block;
    }

    .links li {
        display: inline-block;
        /*text-transform: uppercase;*/
        padding: 0 19px 0 20px;
        border-left: 1px solid rgba(33,33,33,0.4);
    }

    .links li:first-child {
        border-left: 0;
        padding-left: 0;
    }

    .links li:last-child {
        padding-right: 0;
    }

/**
 * Media images
 */
.media {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    display: block;
    margin-bottom: 20px;
}
    .media-img {
        max-width: 100%;
    }
    .media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #212121;
        opacity: 0;
        -webkit-transition: opacity .1s ease-in-out;
           -moz-transition: opacity .1s ease-in-out;
                transition: opacity .1s ease-in-out;
    }
    .media-overlay:hover {
        opacity: 1;
    }
    .media-overlay-content {
        width: 80%;
    }
    .media-title {
        color: #fff;
        font-size: 30px;
        margin: 0;
        max-width: 100%;
    }
    .media-desc{
        color: #aaa;
        font-size: 17px;
        text-align: left;
        padding-left: 30px;
        margin: 0;
        padding-bottom: 30px;
        line-height: 28px;
    }
    .media-about {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 2;
        color: #212121;
        background-color: #212121;
    }

.project-img {
    margin-bottom: 20px;
    width: 100%;
}

.project-banner {
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    display: inline-block;
    background-repeat: no-repeat;

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
    .project-banner-logo {
        display: block;
        margin: auto;
        width: 180px;
        margin-top: 110px;
    }

@media only screen and (max-width : 767px) {
    header {
        padding: 20px 0;
    }
        .row-center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
        }

    .logo-img {
        height: 30px;
    }

    .start-project {
        display: none;
        visibility: hidden;
    }

    .project-banner {
        margin-top: 68px;
        height: 350px;
    }

    .project-banner-logo {
        width: 140px;
        margin-top: 105px;
    }

    footer {
        text-align: center;
    }

    .links {
        text-align: center;
        font-size: 16px;
    }

    .copyright {
        display: none;
        visibility: hidden;
    }

    h1 {
        font-size: 22px;
        margin: 100px auto 0 auto;
        line-height: 35px;
    }

    hr {
        margin-bottom: 60px;
    }

    h1 br {
        display: none;
    }

    p {
        text-align: center;
        font-size: 18px;
    }

    h3 {
        max-width: 98%;
        font-size: 18px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    h4 {
        text-align: center;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }
}
