@font-face {
  font-family: 'ConfigAlt-Light';
  src:  url('../fonts/3998F6_0_0.eot');
  src:  url('../fonts/3998F6_0_0.woff') format('woff'),
        url('../fonts/3998F6_0_0.woff2') format('woff2'),
        url('../fonts/3998F6_0_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Config-Regular';
  src:  url('../fonts/3998F6_1_0.eot');
  src:  url('../fonts/3998F6_1_0.woff') format('woff'),
        url('../fonts/3998F6_1_0.woff2') format('woff2'),
        url('../fonts/3998F6_1_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Config-Italic';
  src:  url('../fonts/3998F6_2_0.eot');
  src:  url('../fonts/3998F6_2_0.woff') format('woff'),
        url('../fonts/3998F6_2_0.woff2') format('woff2'),
        url('../fonts/3998F6_2_0.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Config-Medium';
  src:  url('../fonts/3998F6_3_0.eot');
  src:  url('../fonts/3998F6_3_0.woff') format('woff'),
        url('../fonts/3998F6_3_0.woff2') format('woff2'),
        url('../fonts/3998F6_3_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Config-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, 1);
    background-color: #0A0A0A;
    font-weight: 100;
}

::-moz-selection { background-color: black; color: white; }
::selection { background-color: black; color: white; }

p:empty {display:none;}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.link-line-hide, .link-line-show {
    padding-bottom: 2px;
    position: relative;
}

.link-line-hide:hover::after, .link-line-show:hover::after {
    left: 0;
}

.link-line-hide::after, .link-line-show::after {
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: all .18s ease-in-out;
       -moz-transition: all .18s ease-in-out;
            transition: all .18s ease-in-out;
}

.link-line-hide:hover::after {
    width: 0;
}
    .link-line-hide::after {
        width: 100%;
    }

.link-line-show:hover::after {
    width: 100%;
}
    .link-line-show::after {
        width: 0;
    }

.link-line-grey {
    color: rgba(255, 255, 255, .4);
    -webkit-transition: all .18s ease-in-out;
       -moz-transition: all .18s ease-in-out;
            transition: all .18s ease-in-out;
}
.link-line-grey:hover {
    color: rgba(255, 255, 255, 1);
}
.link-line-grey::after {
    background: rgba(255, 255, 255, .4);
}


.wrapper {
    max-width: 2000px;
    padding: 0 30px;
    margin: auto;
}

header {
    width: 100%;
    z-index: 100;
    padding: 25px 0;
    background-color: #0A0A0A;
}

.white-section {
    background-color: #fff;
}

.header-container {
    max-width: 2000;
    margin: auto;
    padding: 0 30px;
}

.logo-link {
    display: inline-block;
}

.logo-img {
    height: 35px;
    width: 35px;
    display: block;
}

p {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    font-weight: 400;
    display: block;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}
    .project-title {
        font-family: 'Config-Medium', sans-serif;
        color: black;
        text-transform: uppercase;
        margin-top: 120px;
        letter-spacing: 1;
    }
    .logofolio-title {
        margin-top: 40px;
    }
    .project-caption {
        color: black;
        margin-top: 90px;
        margin-bottom: 120px;
    }

h1 {
    font-size: 42px;
    line-height: 50px;
    font-family: 'ConfigAlt-Light', sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 235px auto 190px auto;
    display: block;
}
    .project-intro {
        color: black;
        text-align: left;
        margin: 20px auto 120px auto;
    }

    .logofolio-intro {
        margin: 5px auto 40px auto;
    }

    .about-title {
        margin-bottom: 80px;
    }

h2 {
    font-family: 'ConfigAlt-Light', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    line-height: 36px;
    margin: 0;
    margin-bottom: 100px;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    line-height: 36px;
    margin: 0;
}

.link-title {
    font-family: 'ConfigAlt-Light', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    line-height: 36px;
    margin: 0;
    display: inline-block;
    float: left;
}

.dash {
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: calc(100% - 70px);
    margin-top: 18px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}

.large-link {
    display: flex;
    margin: 10px 0 100px 0;
}

.large-link-black .link-title {
    color: black;
}

.large-link-black .dash {
    background-color: black;
}

.large-link:hover .dash {
    width: 70px;
}

.about-content-block {
    margin-bottom: 40px;
}

.about-sub-title {
    font-family: 'Config-Medium', sans-serif;
}

footer {
    padding: 40px 0 40px 0;
}

.copyright {
    color: rgba(255, 255, 255, 0.4);
}

.back-up {
    display: inline-block;
    float: right;
}

.footer-links {
    font-size: 18px;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links li {
    display: inline-block;
    padding: 0 30px 0 0;
}

.navigation {
    font-size: 18px;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
    .navigation li {
        display: inline-block;
        padding: 7px 50px 0 0;
        color: #000;
    }


.portfolio-btn a {
    font-size: 18px;
    width: 230px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: left;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}

.portfolio-btn a span {
    float: right;
    padding-right: 20px;
    -webkit-transition: padding .25s ease-in-out;
       -moz-transition: padding .25s ease-in-out;
            transition: padding .25s ease-in-out;
}

.portfolio-btn a:hover span {
    padding-right: 30px;
}

.portfolio-btn a:hover {
    color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}

/**
 * Work page images
 */
.work {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    margin-bottom: 8px;
 }

.work-outer {
    margin-bottom: 30px;
}

.work-img {
    width: 100%;
    opacity: 1;
}

.work-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.work-outer:hover .work-hover {
    opacity: 1;
}

.media-title .media-title-hover {
    display:none;
}
    .work-outer:hover .media-title-normal {
      display: none;
    }
    .work-outer:hover .media-title-hover {
      display: inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
    }



/**
 * Media images
 */
 .col-xs-12, .col-xs-6 {
     padding-left: 10px;
     padding-right: 10px;
 }

.media {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    margin-bottom: 8px;
 }

.media-outer {
    margin-bottom: 10px;
}

.media-img{
    width: 100%;
    opacity: 1;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}
.media-outer:hover .media-img {
    transform: scale(1.03);
}

    /*.media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        background-color: black;
    }
    .media-overlay:hover {
        opacity: 0;
    }*/

    .media-title {
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        max-width: 100%;
    }

    /*.media-outer:hover .media-title {
        color: black;
    }*/

    /*.media-type {
        color: #aaa;
        text-align: left;
        font-size: 26px;
        margin: 0;
        max-width: 100%;
        margin-bottom: 40px;
    }*/

.project-img {
    margin-bottom: 30px;
    width: 100%;
}

.project-banner {
    background-color: black;
    width: 100%;
    height: calc(100% - 85px);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.helper {
display: inline-block;
height: 100%;
vertical-align: middle;
}
    .project-banner-logo {
        /*display: block;*/
        vertical-align: middle;
        max-height: 180px;
        margin: auto;
        max-width: 400px;
    }

@media only screen and (max-width : 767px) {

}
