@font-face {
  font-family: 'ConfigAlt-Light';
  src:  url('../fonts/3A109C_0_0.eot');
  src:  url('../fonts/3A109C_0_0.woff') format('woff'),
        url('../fonts/3A109C_0_0.woff2') format('woff2'),
        url('../fonts/3A109C_0_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ConfigAlt-LightItalic';
  src:  url('../fonts/3A109C_1_0.eot');
  src:  url('../fonts/3A109C_1_0.woff') format('woff'),
        url('../fonts/3A109C_1_0.woff2') format('woff2'),
        url('../fonts/3A109C_1_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Config-LightItalic';
  src:  url('../fonts/3A109C_2_0.eot');
  src:  url('../fonts/3A109C_2_0.woff') format('woff'),
        url('../fonts/3A109C_2_0.woff2') format('woff2'),
        url('../fonts/3A109C_2_0.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Config-Light';
  src:  url('../fonts/3A109C_3_0.eot');
  src:  url('../fonts/3A109C_3_0.woff') format('woff'),
        url('../fonts/3A109C_3_0.woff2') format('woff2'),
        url('../fonts/3A109C_3_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Relative Book';
  src:  url('../fonts/relative/Relative-Book.woff') format('woff'),
        url('../fonts/relative/Relative-Book.woff2') format('woff2'),
        url('../fonts/relative/Relative-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


/* General
-------------------------------------------------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Relative Book', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 1);
    background-color: #f8f8f8;
    font-weight: 100;
}

.wrapper {
    padding: 0 20px;
    margin: auto;
}

::-moz-selection { background-color: black; color: white; }
::selection { background-color: black; color: white; }

p:empty {display:none;}

img {
    width: 100%;
}

a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    -webkit-transition: all .18s ease-in-out;
       -moz-transition: all .18s ease-in-out;
            transition: all .18s ease-in-out;
}

a:hover {
    cursor: pointer;
}

p {
    font-family: 'Relative Book', sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    display: block;
    margin: 0;
    color: rgba(0, 0, 0, 1);
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 120px;
    font-size: 50px;
    line-height: 56px;
    font-family: 'Relative Book', sans-serif;
    font-weight: 300;
    display: block;
    color: #000;
}

h2 {
    font-family: 'Relative Book', sans-serif;
    font-size: 26px;
    margin-top: 0;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Relative Book', sans-serif;
    font-size: 26px;
    margin-top: 60px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 30px;
}

h4 {
    font-weight: 300;
    font-size: 26px;
    text-align: left;
    line-height: 42px;
    margin: 0;
    margin-bottom: 20px;
}



/* Header
-------------------------------------------------------------------------------------------------- */
header {
   width: 100%;
   z-index: 100;
   padding: 20px 0;
}

.navigation {
   float: right;
   font-size: 20px;
   list-style: none;
   padding: 0;
   margin: 0;
}
   .navigation li, .footer-link {
       display: inline-block;
       position: relative;
   }
   .navigation li {
       margin-left: 60px;
   }
   .navigation li a {
       color: rgba(0, 0, 0, 1);
   }
   .navigation li a::after, .footer-link a::after {
       content: "";
       position: absolute;
       width: 0;
       height: 1px;
       bottom: 0;
       right: 0;
       background-color: #000;
       transition: all 0.2s ease-in-out;
   }
   .navigation li a:hover::after, .footer-link a:hover::after {
       /*color: rgba(0, 0, 0, 0.5);*/
       width: 100%;
       right: auto;
       left: 0;
   }

   .navigation li:last-child {
       padding-right: 0;
   }

.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
}

.logo-link {
    font-family: 'Relative Book', sans-serif;
    display: inline-block;
    font-size: 20px;
    /*word-spacing: 4px;*/
}
    /*.logo-link span {
        opacity: 0;
        -webkit-transition: opacity .2s ease-in-out;
           -moz-transition: opacity .2s ease-in-out;
                transition: opacity .2s ease-in-out;
    }*/

/*.logo-link:hover span {
    opacity: 1;
}*/


/* Footer
-------------------------------------------------------------------------------------------------- */
footer {
    bottom: 0;
    width: 100%;
    padding: 0 0 20px 0;
    color: rgba(0, 0, 0);
    font-family: 'Relative Book', sans-serif;
    margin-top: 150px;
}

    footer p {
        display: inline-block;
    }

.white-footer p {
    color: rgba(255, 255, 255);
}

.footer-nav {
    float: none;
}

.footer-nav li {
    margin-left: 0;
    margin-right: 40px;
}

.footer-nav li:last-child {
    float: right;
    margin-right: 0;
}


/* Home Page
-------------------------------------------------------------------------------------------------- */




/* About
-------------------------------------------------------------------------------------------------- */

.profile-pic {
    margin-top: 60px;
    margin-bottom: 40px;
}

.about-paragraph, .about-status, .about-contact {
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-family: 'Relative Book', sans-serif;
    font-weight: 300;
    display: block;
    color: #000;
}

.about-paragraph:first-child {
    margin-top: 60px;
}

.about-status, .about-capabilities {
    margin-bottom: 60px;
}

.get-in-touch, .capabilities, .work-index {
    width: 100%;
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Relative Book', sans-serif;
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

.get-in-touch li a, .capabilities li, .work-index li {
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

.get-in-touch li a:hover, .capabilities li:hover, .work-index li:hover {
    color: rgba(0, 0, 0, 1);
}

.sticky {
    top: 20px;
    position: sticky;
    position: -webkit-sticky;
}

.capabilities li::before {
    content: '— '
}

.work-index-item {
    position: relative;
}

.work-index-item li {
    display: inline-block;
}

.work-index-item img {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    max-width: 500px;
    max-height: 650px;
    top: -310px;
    margin-left: 40px;
    z-index: 1000;
}

.work-index-item:hover img {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .18s ease-in-out;
       -moz-transition: opacity .18s ease-in-out;
            transition: opacity .18s ease-in-out;
}

.contact-sticky {
    top: 20px;
    margin-bottom: 0;
    position: sticky;
}


/* Single Work Page
-------------------------------------------------------------------------------------------------- */


h1.project-title {
    margin-bottom: 60px;
}

.project-img {
    margin-bottom: 20px;
    width: 100%;
}
    .banner {
        margin-top: 80px;
    }

.work-detail-container {
    margin-top: 60px;
    margin-bottom: 80px;
}

.team {
    color: rgba(0, 0, 0, 0.4);
}

.work-detail-link {
    display: inline-block;
    position: relative;
    margin-top: 20px;
}
.work-detail-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.work-detail-link:hover::after {
    width: 0;
    left: 0;
    right: auto;
}

.credit {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

/* Large Left Link
-------------------------------------------------------------------------------------------------- */
.link-title {
    font-family: 'Relative Book', sans-serif;
    font-weight: 100;
    font-size: 26px;
    text-align: left;
    line-height: 30px;
    display: inline-block;
    float: left;
}

.dash {
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: calc(100% - 60px);
    margin-top: 18px;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}

.large-link {
    display: flex;
    margin: 30px 0 -40px 0;
}

.large-link:hover .dash {
    width: 100px;
}


/**
 * Media images
 */

.media {
    position: relative;
    overflow: hidden;
    z-index: 1;
 }

.media-outer {
    margin-bottom: 30px;
}

.media-outer .box .col-xs-6, .media-outer .box .col-xs-12 {
    padding: 0 7px 0 7px;
}

.media-img {
    width: 100%;
    opacity: 1;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}
.media-outer:hover .media-img {
    transform: scale(1.02);
}

.media-outer {
    opacity: 1;
    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
            transition: opacity .5s;
}

.media-container:hover > .media-outer {
    opacity: .4;

}

.media-container:hover > .media-outer:hover {
    opacity: 1;
}

.media-title, .media-type {
    font-family: 'Relative Book', sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    padding-top: 6px;
    margin: 0;
    max-width: 100%;
}
    .media-type {
        color: rgba(0, 0, 0, .6);
    }


/* Shop Page
-------------------------------------------------------------------------------------------------- */
.shop-background {
    z-index: -100;
    width: 100%;
    height: 100%;
    background-color: #E3E3E3;
    position: fixed;
    top: 0;
}

.limit-width {
    margin-right: 40px;
}

.archive-shop-info {
    visibility: hidden;
    display: none;
    margin-top: 60px;
}

.archive-shop-info p {
    text-align: center;
}

.shop-item-block {
    margin-top: 100px;
}

.shop-info-title {
    margin-bottom: 20px;
    font-weight: bold;
}

.archive-shop-info-button {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);

}
.archive-shop-info-button a {
    color: rgba(0, 0, 0, 0.4);
}


@media only screen and (max-width : 980px) {

    h1 {
        font-size: 38px;
        line-height: 42px;
    }

    h1.project-title {
        margin-bottom: 40px;
    }

    h2 {
        font-size: 22px;
        line-height: 26px;
    }

}


@media only screen and (max-width : 767px) {

    .work-detail-container {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .work-detail-link {
        margin-bottom: 40px;
    }

    p, .navigation, .logo-link {
        font-size: 18px;
        line-height: 22px;
    }

    .navigation li {
        margin-left: 15px;
    }

    .logo-link span {
        display: none;
        visibility: hidden;
    }

    .logo-link::after {
        content: "G";
    }

    /*.logo-link span {
        display: none;
        visibility: visible;
        opacity: 1;
    }*/

    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 34px;
    }

    h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .project-intro {
        margin-bottom: 20px;
    }

    h3, .link-title {
        font-size: 24px;
        line-height: 28px;
    }

    .large-link {
        margin-top: 10px;
    }

    footer {
        margin-top: 100px;
    }

    .capabilities, .work-index, .about-paragraph {
        font-size: 24px;
        line-height: 28px;
    }

    .wrapper {
        padding: 0 20px;
    }

    header {
        padding: 10px 0;
    }

    footer {
        padding-bottom: 10px;
    }

    footer p span, .footer-nav span {
        display: none;
        visibility: hidden;
    }

    .footer-nav {
        float: right;
    }

    .footer-nav li {
        margin: 0;
        margin-left: 15px;
    }

    .project-img {
        margin-bottom: 20px;
    }

    .banner {
        margin-top: 30px;
    }

    .project-title {
        margin-bottom: 40px;
    }

    .work-index-item img {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width : 420px) {

    h1 br, .project-intro br {
        display: none;
        visibility: hidden;
    }

    h4 {
        font-size: 24px;
        line-height: 28px;
    }

}
