{{ partial "header.html" . }}

<div class="wrapper">
    <h1>{{ $.Param "title" }}</h1>
    <hr class="parallax">
    {{ if isset .Params "banner" }}
        <div class="project-banner" style="background-image: url({{ $.Param "banner" }});">
            <span class="helper"></span><img class="project-banner-logo" src="{{ $.Param "banner-logo" }}" style="{{ $.Param "display" }}">
        </div>
    {{ end}}

    <div class="main-content-wrapper">
        <p>{{ $.Param "description" }}</p>
        {{ .Content }}
    </div>
</div>

{{ partial "footer.html" . }}
