{{ partial "header.html" . }}

<div>
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="project-title">
                    {{ $.Param "title" }}
                </h1>
            </div>
        </div>
        <div class="row center-xs">
            <div class="col-xs-12">
                <h2 class="project-intro">
                    {{ $.Param "intro" | safeHTML }}
                </h2>
            </div>
        </div>
        <div class="row center-xs">
            <div class="col-xs-12">
                <p class="credit">
                    {{ $.Param "credit" | safeHTML }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="{{ .Params.banner }}" alt="project-img" class="project-img banner">
            </div>
        </div>

        {{ .Content }}

        <div class="row end-sm">
            <div class="col-xs-12 col-sm-4">
                {{ if .PrevInSection }}
                    <a href="{{.PrevInSection.Permalink}}" class="large-link">
                        <div class="link-title">Next: {{.PrevInSection.Title}}</div>
                        <div class="dash"></div>
                    </a>
                {{ else }}
                    <a href="/work" class="large-link">
                        <div class="link-title">Back to work</div>
                        <div class="dash"></div>
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
