{{ partial "header.html" . }}

<div>
    <div class="wrapper">
        {{ if isset .Params "banner" }}
            <div class="project-banner" style="background-image: url({{ $.Param "banner" }});"></div>
        {{ end }}

        <div class="row">
            <div class="col-sm-offset-1 col-sm-5">
                <p class="project-title">
                    {{ $.Param "title" }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-6">
                <h2 class="project-intro">
                    {{ $.Param "intro" }}
                </h2>
            </div>
        </div>

        {{ .Content }}

        <div class="row end-sm">
            <div class="col-sm-6">
                {{ if .PrevInSection }}
                    <a href="{{.PrevInSection.Permalink}}" class="large-link large-link-black">
                        <div class="link-title">{{.PrevInSection.Title}}</div>
                        <div class="dash"></div>
                    </a>
                {{ else }}
                    <a href="/work" class="large-link large-link-black">
                        <div class="link-title">Back to work</div>
                        <div class="dash"></div>
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
