{{ partial "header.html" . }}

<div class="about-background"></div>

<div class="wrapper">
    <div class="row">
        <div class="col-xs-12">
            <p class="about-paragraph">
                Hello, I’m Matthew, a UK based designer specialising in Logo & Brand Identity Design. My work balances minimalism with meaning, to shape visual identities that matter.
            </p>
            <p class="about-paragraph">
                I’m currently a creative designer at Better Studio, an award winning  design agency in Middlesbrough, UK. I’ve had experience in brand design, editorial, web design, art direction and naming strategy.
            </p>
            <p class="about-paragraph">
                Over the past few years, I’ve had the opportunity to be involved in projects for a wide range of business sectors including technology, professional services, property, sports and healthcare.
            </p>
            <h3>Capabilities</h3>
            <ul class="capabilities">
                <li>Logo Design</li>
                <li>Identity System</li>
                <li>Brand Guidelines</li>
                <li>Editorial & Layout</li>
                <li>Website Design</li>
                <li>Print</li>
            </ul>
            <h3>Let's Talk</h3>
            <ul class="get-in-touch">
                <li><a href="mailto:hello@matthewgoodyear.com">Email</a></li>
                <li><a href="https://www.instagram.com/goodyear.design/">Instagram</a></li>
            </ul>
            <h3>Work Index</h3>
            <ul class="work-index">
                <div class="work-index-item">
                    <li>Send (2020)</li>
                    <img src="/img/send/send_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Troy Lake (2020)</li>
                    <!-- <img src="/img/cubo/cubo_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Cubo (2020)</li>
                    <img src="/img/cubo/cubo_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Teesworks (2020)</li>
                    <video src="/img/teesworks/teesworks_thumb_vid.mp4" alt="" autoplay="yes" loop="yes">
                </div>
                <div class="work-index-item">
                    <li>StockUK (2020)</li>
                    <img src="/img/stockuk/stockuk_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Steady on your Feet (2020)</li>
                    <img src="/img/soyf/soyf_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Castle Fields (2020)</li>
                    <img src="/img/castlefields/castlefields_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Business Durham (2020)</li>
                    <img src="/img/bd/bd_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>NECS (2019)</li>
                    <img src="/img/necs/necs_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Realse! (2019)</li>
                    <img src="/img/realise/realise_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Harrison Strategy Magazine (2019)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Kinnery (2019)</li>
                    <img src="/img/kinnery/kinnery_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Visualsoft (2019)</li>
                    <img src="/img/visualsoft/visualsoft_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Primus Typeface (2019)</li>
                    <img src="/img/primus/primus_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Kader Football Club (2019)</li>
                    <img src="/img/kader/kader_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Definition Agency (2019)</li>
                    <img src="/img/definition/definition_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>University Hospital Association (2018)</li>
                    <img src="/img/uha/uha_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Essex Brewery (2018)</li>
                    <img src="/img/essex/essex_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Highlands Village (2018)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Course Box (2017)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
            </ul>
        </div>
        <!-- <div class="col-xs-12 col-sm-offset-2 col-sm-4">
            <div class="sticky">

            </div>

            <p class="about-paragraph contact-sticky">
                Starting a project? Get in touch via <a href="mailto:hello@matthewgoodyear.com">Email</a> and keep updated with future projects on <a href="www.instagram.com/gdy.design">Instagram</a>.
            </p>
        </div> -->
    </div>
</div>

{{ partial "footer.html" . }}
