{{ partial "header.html" . }}

<div class="about-background"></div>

<div class="wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p class="about-paragraph">
                I’m Matthew, North East based Graphic Designer specialising in Logo & Brand Identity. For the past 3 years I have worked as a Creative Designer for Better Brand Agency, working on projects for a wide range of business sectors.
            </p>
            <p class="about-paragraph">
                I’ve had experience in brand design, editorial, web design, art direction, photography and naming strategy.
            </p>
            <h3>Contact</h3>
            <ul class="get-in-touch">
                <li><a href="mailto:hello@matthewgoodyear.com">Email</a></li>
                <li><a href="https://www.instagram.com/goodyear.design/">Instagram</a></li>
            </ul>
            <!-- <h2>Capabilities</h2>
            <ul class="capabilities">
                <li>Creative Direction</li>
                <li>Logo Design</li>
                <li>Identity System</li>
                <li>Brand Guidelines</li>
                <li>Editorial</li>
                <li>Digital Design</li>
                <li>Print</li>
            </ul> -->
            <h3>Index</h3>
            <ul class="work-index">
                <div class="work-index-item">
                    <li>Teesworks (2020)</li>
                    <!-- <img src="/img/bd/bd_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>StockUK (2020)</li>
                    <img src="/img/stockuk/stockuk_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Steady on your Feet (2020)</li>
                    <!-- <img src="/img/bd/bd_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Castle Fields (2020)</li>
                    <!-- <img src="/img/bd/bd_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Business Durham (2020)</li>
                    <img src="/img/bd/bd_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>NECS (2019)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Realse! (2019)</li>
                    <img src="/img/realise/realise_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Harrison Strategy Magazine (2019)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Kinnery (2019)</li>
                    <img src="/img/kinnery/kinnery_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Visualsoft (2019)</li>
                    <img src="/img/visualsoft/visualsoft_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Primus Typeface (2019)</li>
                    <img src="/img/primus/primus_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Kader Football Club (2019)</li>
                    <img src="/img/kader/kader_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Realtime UK (2019)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Definition Agency (2019)</li>
                    <img src="/img/definition/definition_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Digital Skills Academy (2019)</li>
                    <img src="/img/dsa/dsa_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Notorious Clothing (2018)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>University Hospital Association (2018)</li>
                    <img src="/img/uha/uha_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Essex Brewery (2018)</li>
                    <img src="/img/essex/essex_thumb.jpg" alt="">
                </div>
                <div class="work-index-item">
                    <li>Highlands Village (2018)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Course Box (2017)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>Cities Clothing (2017)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
                <div class="work-index-item">
                    <li>CCAD Summer Show (2017)</li>
                    <!-- <img src="/img/kinnery/kinnery_thumb.jpg" alt=""> -->
                </div>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-4">
            <div class="sticky">

            </div>

            <!-- <p class="about-paragraph contact-sticky">
                Starting a project? Get in touch via <a href="mailto:hello@matthewgoodyear.com">Email</a> and keep updated with future projects on <a href="www.instagram.com/gdy.design">Instagram</a>.
            </p> -->
        </div>
    </div>

    <!-- <div class="row end-sm">
        <div class="col-sm-4">
            <a href="/work" class="large-link">
                <div class="link-title">View work</div>
                <div class="dash"></div>
            </a>
        </div>
    </div> -->
</div>

{{ partial "footer.html" . }}
