    <footer>
        <div class="header-container">

            <div class="row">
                <div class="col-sm-6">
                    <h2>Starting a new project?<br>Get in touch for a chat.</h2>
                </div>
                <div class="col-sm-6">
                    <div class="portfolio-btn">
                        <a href="mailto:hello@matthewgoodyear.com">Request portfolio <span>⟶</span></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <p class="copyright">&copy; 2019</p>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <ul class="footer-links">
                        <li><a class="link-line-hide link-line-grey" href="mailto:hello@matthewgoodyear.com">Email</a></li>
                        <li><a class="link-line-hide link-line-grey" href="https://www.instagram.com/gdy.design/">Instagram</a></li>
                        <li><a class="link-line-hide link-line-grey" href="/">Archive</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 col-xs-12">
                    <p class="back-up" onclick="topFunction()"><a href="#" class="link-line-show">Back up</a></p>
                </div>

            </div>
        </div>
    </footer>

    <script>
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

    <!-- <script>
        (function() {
            function setOpacity(element, opacity) {
                if (!element) return;

                element.style.opacity = opacity;
            }

            function setTrans(element, newTrans) {
                if (!element) return;

                element.style.transform = "translateY("+newTrans+"px)";
                console.log(newTrans);
            }

            window.addEventListener('scroll', function() {
                var heading = document.getElementsByTagName('h1')[0];
                var line = document.querySelector('.parallax');
                var subHeading = document.getElementsByTagName('h2')[0];

                var newOpacity = (300 - window.scrollY) / 300;
                var newTranslation = (window.scrollY / 5);

                if (newOpacity < 0.3) {
                    newOpacity = 0.3
                }

                setOpacity(heading, newOpacity)
                setOpacity(line, newOpacity)
                setOpacity(subHeading, newOpacity)

                setTrans(heading, newTranslation)
                setTrans(line, newTranslation)
                setTrans(subHeading, newTranslation)
            });
        })();
    </script> -->
</body>
</html>
