    <footer>
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-4 col-sm-8">
                    <p>&copy; <span>Matthew Goodyear</span> 2020</p>
                </div>
                <div class="col-xs-8 col-sm-4">
                    <ul class="navigation footer-nav">
                        <li class="">
                            <a href="https://www.instagram.com/goodyear.design/">Instagram</a>
                        </li>
                        <li class="">
                            <a href="mailto:hello@matthewgoodyear.com">Email</a>
                        </li>
                        <span><li class="">
                            <a href="#">Back up</a>
                        </li></span>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("slides");

            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}
            x[myIndex-1].style.display = "block";
            setTimeout(carousel, 3000);
        }

        function showInfo() {
            var infoButton = document.querySelector(".archive-shop-info-button a");
            var info = document.querySelector(".archive-shop-info");

            if (info.style.visibility === "visible") {
                info.style.visibility = "hidden";
                info.style.display = "none";
                infoButton.innerHTML = "+ More Information";
            } else {
                info.style.visibility = "visible";
                info.style.display = "flex";
                infoButton.innerHTML = "- Hide Information";
            }

        }
    </script>
</body>
</html>
