<html>

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ with .Page.Params.Title }}{{ . }} — {{ end }}Goodyear — Logo & Brand Identity</title>
    {{ with .Page.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ else }}
    <meta name="description" content="I'm Matthew, Logo & Brand Identity Designer based in Middlesbrough.">
    {{ end }}

    <link rel="shortcut icon" href="{{ $.Site.BaseURL }}img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ $.Site.BaseURL }}css/flexboxgrid.css">
    <link rel="stylesheet" type="text/css" href="{{ $.Site.BaseURL }}css/main.css">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-34767842-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <a class="logo-link" href="{{ $.Site.BaseURL }}">
                        M<span>atthew</span> G<span>oodyear</span>
                    </a>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <ul class="navigation box">
                        <div class="row">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.main }}
                            <div class="col-xs-6">
                                <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                                    <a href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                            </div>
                            {{ end }}
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </header>
