{{ partial "header.html" . }}

<div class="shop-background"></div>

<div class="wrapper">
    <div class="project-info-container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="project-title">The Archive Shop</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- <h2 class="project-intro">
                    A marketplace of past ideas,<br>creating logo's of the future.
                </h2> -->
                <h2>Coming soon.</h2>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-12">
                <p class="archive-shop-info-button"><a onclick="showInfo()">+ More Information</a></p>
            </div>
        </div>
        <div class="row center-xs archive-shop-info">
            <div class="col-xs-4 limit-width">
                <p class="shop-info-title">What is the Archive Shop?</p>
                <p class="shop-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-xs-4">
                <p class="shop-info-title">How does it work?</p>
                <p class="shop-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div> -->

        <!-- <div class="row shop-item-block">
            <div class="col-xs-4">
                <img src="/img/shop/item.jpg" alt="project-img" class="project-img">
            </div>
            <div class="col-xs-4">
                <img src="/img/shop/item.jpg" alt="project-img" class="project-img">
            </div>
            <div class="col-xs-4">
                <img src="/img/shop/item.jpg" alt="project-img" class="project-img">
            </div>
            <div class="col-xs-4">
                <img src="/img/shop/item.jpg" alt="project-img" class="project-img">
            </div>
            <div class="col-xs-4">
                <img src="/img/shop/item.jpg" alt="project-img" class="project-img">
            </div>
            <div class="col-xs-4">
                <img src="/img/shop/item.jpg" alt="project-img" class="project-img">
            </div>
        </div> -->
    </div>
</div>

{{ partial "footer.html" . }}
